/* dark theme */
.main-layout-dark{
  background-color: #999;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.single-value-card-dark{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #555;
  border-left: 4px solid #555;
  border-radius: 10px;
  width: 200px; 

}

.single-value-cards-dark{
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  width: 1080px;
}

.page1-layout-dark{}

.page2-layout-dark{}

.swap-button-container-dark{
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
}

.swap-button-dark{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  border-radius: 50%;
}

.barh-card-dark{
  border-radius: 40px;
  /* border-color: #000; */
  /* border-width: 20px; */
  border: #000 dashed 10px;
  width: 1000px;
}

/* natural */
.small-card-icon{
  height: 40px;
  background-color: #fff;
}

/*light theme */
.main-layout-light{
  background-color: #aaa;
  display: flex;
}

.single-value-card-light{
  align-items: center;
}
.single-value-card-dark img{
  size: 20px;
}
.single-value-cards-light{
  background-color: aqua;
  display: flex;
}

.page1-layout-light{}

.page2-layout-light{}

.swap-button-container-light{}

.swap-button-light{}

.barh-card-light{}